.scrollable-col{
    overflow-y: auto;
    height: 100vh;
    padding-right: 0;
}
.icon-position{
    position: absolute;
    left: 80%;
    bottom: 5%;
    font-size: 25px;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    border-radius: 50%;
}
.icon-position:hover{
    cursor: pointer;
    z-index: 9999;
}

h2 {
    color: #211747;
}
h2:hover{
    cursor: pointer;
}
.secondary-col{
    background: #211747;
    height: 100vh;
    text-align: center;

}

.img-main{
    width: 100%;
    height: auto;
    max-height: 100vh;

}

.list-group-item-action {border: 0;}

.form{
    padding: 5%;
}

.details-screen{
    background-color: #fafafa;
}




