
<!-- <div class="container"> -->
    <!-- <span class="fa fa-envelope"></span> -->

    <div class="row">

        <div class="col-lg-3 col-sm-6 scrollable-col" >
            <button type="button" routerLink="/settings"  class="fa fa-cog icon-position"></button>

            <div class=" my-2" style="width: 100%;">
                <div class="card-body">
                    <h2 class="main-text" (click)="onHomeClick()" class="m-0 d-inline-block">Contactos</h2>
                    <button *ngIf="isHome"  type="button" class="float-right btn btn-primary" (click)="addContact()">Agregar</button>
                    <button *ngIf="!isHome" type="button" (click)="goBack()" class="float-right btn btn-primary">Volver</button>

                </div>
            </div>      
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" 
                [class.active]="active === i"  (click)="onClick(i, contact)" 
                aria-current="true" *ngFor="let contact of contacts; let i = index;" >
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{contact.firstName}}</h5>
                  </div>
                  <p class="mb-1">{{contact.email}}</p>
                </a>

              </div>   
            </div>
        <div *ngIf="isHome" class="col-lg-9 col-sm-6 secondary-col">
            <img class="img-main" src="/assets/Untitled-1.png" alt="image">
        </div>
        <div *ngIf="!isHome" class="col-lg-9 col-sm-6 details-screen">
            <form class="form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" 
                  formControlName="firstName"  placeholder="Escribir un nombre ej: Jorge">
                </div>
                <div class="form-group">
                    <label >Apellido</label>
                    <input formControlName="lastName"  type="text" class="form-control" placeholder="Escribir un apellido ej: Hernandez">
                  </div>
                  <div class="form-group">
                    <label >Email</label>
                    <input formControlName="email"  type="email" class="form-control" placeholder="Escribir un correo ej: ATL@software.com">
                  </div>   
                   <div class="form-group">
                    <label >Ciudad</label>
                    <input formControlName="city"  type="text" class="form-control" placeholder="Escribir una ciudad ej: Santo Domingo">
                  </div>
                  <div formArrayName="phones">
                
                    <div *ngFor="let phone of phones.controls; let i=index">
                      <!-- The repeated alias template -->

                
                        <div class="form-row mb-2 d-flex justify-content-end">
                            
                            <div class="form-group col-lg-10 col-sm-8">
                                <label>Telefono: </label>
                                <input class="form-control" placeholder="809-123-4444" [formControlName]="i">
                            </div>              
        
                            <div class="form-group col-lg-2 col-sm-4 d-flex flex-column justify-content-end">
                                <button type="button" (click)="addPhone()" class="btn btn-primary ">Agregar Telefono</button>
                            </div>

                        </div>
             


                    </div>
                  </div>
                <button type="button" (click)="editContact()" *ngIf="isEdit" class="btn btn-primary" [disabled]="!profileForm.valid">Editar</button>
                <button type="submit" *ngIf="!isEdit" class="btn btn-primary" [disabled]="!profileForm.valid">Agregar</button>


              </form>


        </div>
      
      </div>
<!-- </div> -->

