<div class="container text-center">
<h1 class="main-text">
    Aplicación creada con el propósito del <br>examen técnico de ATL-Software
</h1>

<h5>READ.ME disponible en el proyecto!</h5>

<button (click)="clearStorage()" class="btn btn-danger">Borrar JSON guardado en el localstorage</button>
<br>
<button routerLink="/"  class="btn btn-secondary">Volver</button>


</div>